@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#calc-parent {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-template-rows: repeat(7, 50px);
}

.calc-btn {
  background-color: silver;
  color: black;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  font-weight: 100;
  padding: 3px;
}

.calc-btn:hover {
  background-color: orange;
}


#calc-zero {
  grid-column: 1 / span 2;
  border-radius: 0 0 0 7px;
}

#calc-clear {
  grid-column: 1 / span 2;
}

#calc-display-val {
  grid-column: 1 / 5;
  grid-row: 1 / span 2;
  /* height: 80px; */
  color: white;
  text-align: right;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  font-size: 40px;
  background-color: #383838;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px;
  border-radius: 7px 7px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calc-btn-operator {
  background-color: orange;
  color: white;
}


#calc-equals {
  border-radius: 0 0 7px 0;
}